{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear individuo</title>
    <link rel="stylesheet" href="{% static 'app/CrearIndividuoASAR.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="CrearIndividuoAP">
        <div class="BarraInicio">
            <i class="fas fa-plus-circle" id="logo1"></i>
            <span id="titulo">Crear individuo</span>
        </div>
        <div class="Opciones">
            <i class="fas fa-plus-circle" id="logo2"></i>
            <span id="text1">Bienvenido administrador, aquí podrás crear a un individuo, suerte !</span>

            <div class="cuadro1" style="margin-left: 300px;">
                <span id="text2">CREAR INDIVIDUO</span>
                <form action="{% url 'app:CrearIndividuoASAR_post' %}" method="post">
                    {% csrf_token %}
                    <div class="cuadro2">
                    </div>
                    <div class="cuadro3">
                        <fieldset>
                            <label for="Nombres" id="label1">Ingrese el Nombre</label>
                            <input type="text" name="nombre" placeholder="Nombre individuo">
                        </fieldset>
                    </div>
                    <div class="cuadro4">
                        <fieldset>
                            <label for="Apellidos" id="label2">Ingrese los apellidos</label>
                            <input type="text" name="apellidos" placeholder="Apellidos individuo">
                        </fieldset>
                    </div>
                    <div class="cuadro5">
                        <fieldset>
                            <label for="Fecha" id="label3">Ingrese fecha de nacimiento del individuo</label>
                            <input type="date" name="fechaN" placeholder="Fecha nacimiento">
                        </fieldset>
                    </div>
                    <br>
                    <button type="submit" id="boton1">CREAR INDIVIDUO</button>
                </form>
            </div>
            <br>
            <br>
            <a href="{% url 'app:AprobarIndividuoSAR_view' %}" id="link2" style="margin-left: 550px">Quiero aprobar
                individuos</a>
            <br>
            <a href="{% url 'app:inicio_sesion_view' %}" target="_blank" id="link1" style="padding-left: 550px">Regresar
                a página de inicio</a><br>

        </div>
    </div>
    <div class="PiePagina">
        <img src="ImagenesP/IMAGEN2.png" alt="IMAGEN REDES SOCIALES" id="imagen2">
    </div>
    </div>
</body>

</html>