{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Implicar Afiliado A Proceso</title>
    <link rel="stylesheet" href="{% static 'app/Estilos_implicar_afiliado_proceso.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="Header">
        <i class="fas fa-tree"></i>
        <span id="titulo">IMPLICAR AFILIADO A PROCESO</span>
        <a href="{% url 'app:inicio_sesion_view' %}" id="link1">Regresar a página de inicio</a><br>
        <a href="{% url 'app:pagina_administrador_view' %}" id="link2">Regresar a página de inicio de administrador</a>
    </div>
    <div class="Descripcion">
        <i class="fas fa-tree"></i>
        <span id="descripcion1"> ¡Bienvenidos! Aqui pueden implicar un afiliado a un proceso</span>
        <br>
        <i class="fas fa-tree"></i>
        <span id="descripcion2">Recuerda que no se puede implicar un afiliado no aprobado en la plataforma</span>
        <br>
        <i class="fas fa-tree"></i>
        <span id="descripcion3">Recuerda que no se puede implicar un afiliado a un proceso no aprobado en la plataforma</span>

        <div class="CUADROGENERAL">
            <span id="titulo1"> IMPLICAR AFILIADO</span>

            <form action="{% url 'app:ImplicarAfiliadoASAR_post' %}" method="post">
                {% csrf_token %}
                <div class="cuadro11">
                    <fieldset>
                        <label for="afiliado" id="dato1">Seleccione una afiliacion</label>
                        <select name="afiliado" id="r1">
                            {% for i in afiliados %}
                            {% if i.aprobado %}
                            <option value="{{ i.id }}">
                                {{ i.individuo.nombres }} {{ i.individuo.apellidos }} - {{ i.partido.nombre }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </fieldset>
                </div>
                <div class="cuadro12">
                    <fieldset>
                        <label for="proceso" id="dato2">Seleccione una afiliacion</label>
                        <select name="proceso" id="r2">
                            {% for p in procesos %}
                            {% if p.aprobado %}
                            <option value="{{ p.id }}">
                                {{ p.titulo }} - {{ p.entidad }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </fieldset>
                </div>
                <div class="cuadro13">
                    <fieldset>
                        <label for="fecha-i" id="dato3">Ingrese fecha de implicacion</label>
                        <input type="date" id="r3" name="fecha-i" placeholder="fecha de implicacion">
                    </fieldset>
                </div>
                <div class="cuadro14">
                    <fieldset>
                        <label for="acusacion" id="dato4">Ingrese la acusacion</label>
                        <input type="text" id="r4" name="acusacion" placeholder="acusacion">
                    </fieldset>
                </div>
                <div class="cuadro15">
                    <fieldset>
                        <label for="cu-in" id="dato5">Seleccione una opcion</label>
                        <select name="cu-in" id="r5">
                            <option value="1">Culpable</option>
                            <option value="0">Inocente</option>
                        </select>
                    </fieldset>
                </div>
                <div class="cuadro16">
                    <fieldset>
                        <label for="pena" id="dato6">Ingrese la pena</label>
                        <input type="text" id="r6" name="pena" placeholder="pena">
                    </fieldset>
                </div>
                <div class="cuadro17">
                    <fieldset>
                        <label for="comentarios" id="dato7">Ingrese los comentarios</label>
                        <input type="text" id="r7" name="comentarios" placeholder="comentarios">
                    </fieldset>
                </div>
                <br>
                <button type="submit" id="boton1">CREAR IMPLICACION</button>
            </form>
        </div>
    </div>
</body>
</html>